{% extends 'base_template.html' %}

{% block content %}
 <button class="button"><a class="button_a" href="{{ url_for('hall_page') }}">Вернуться обратно</a></button>
<p>
  <form method="post" enctype="multipart/form-data">
  <label for="img">Select image:</label>
  <br>
  <input type="file" id="img" name="img" accept="image/*">
  <br>
  <input type="submit" value="Отправить" >
</form>
</p>
{% if result %}
  <h2>Результат:</h2>
  <p>Класс изображений = {{ result_class }}</p>
<p>1 - здоров, 2 - болен</p>
  <p>Распределение по классам: = {{ result_distribution }}</p>
{% endif %}

{% if error %}
  <p>Error = {{ error }}</p>
{% endif%}
{% endblock %}
